<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <title>Disease-Chemical-Gene association</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap-dialog.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <link rel="shortcut icon" type="image" href="images/icon.png"/>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap-dialog.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/jquery-ui-1.10.0.custom.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/jquery-ui.structure.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/jquery-ui.theme.min.css"/>
    </head>
    <style>

    /*.node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 3px;
    }*/

    .node#disease-node circle {
      fill: #FF9933;
      stroke: steelblue;
      stroke-width: 3px;
    }

    .node#chem-node circle {
      fill: #99FF66;
      stroke: steelblue;
      stroke-width: 3px;
    }

    .node#gene-node circle {
      fill: #FFFF66;
      stroke: steelblue;
      stroke-width: 3px;
    }
    .selected#disease-node circle{
      stroke: tomato;
    }
    .selected#chem-node circle{
      stroke: tomato;
    }
    .selected#gene-node circle{
      stroke: tomato;
    }

    .node text { font: 12px sans-serif; }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
    }
    .ui-autocomplete {
      max-height: 500px;
      overflow-y: auto;
      overflow-x: auto;
    }

    </style>
    <body style="background-color: #D2D2D2;">
        <div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand">Disease-Chemical-Gene Data Analysis Tool</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!--
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                    -->
                    
                      <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                          <input type="text" id="search_query" class="form-control" placeholder="Search Names or IDs" style="width: 100%">
                        </div>
                        <button type="button" id="search_button" class="btn btn-default">Submit</button>
                      </form>
                    
                    
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/random_walk_simulator">Random walk simulator</a></li>
                        <li><a href="/connection_analysis">Analyse Connections</a></li>
                        <!--
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="http://www.google.com">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </li>
                        -->
                      </ul>
                    
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript">
            $(function(){
                $.ajax({
                    url: "/get_available_options",
                    data : {type:"all"},
                    success: function(response){
                        op_names = JSON.parse(response)["names"];
                        op_ids = JSON.parse(response)["ids"]
                        $("#search_query").autocomplete({
                            source: op_names.concat(op_ids),
                            minLength: 2
                        });
                        $("#src_node").autocomplete({
                            source: op_ids,
                            minLength: 3
                        });
                        $("#tgt_node").autocomplete({
                            source: op_ids,
                            minLength: 3
                        });
                        $("#add_node").autocomplete({
                            source: op_ids,
                            minLength: 3
                        });        
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
            
            $(function(){
                $("#search_button").click(function(){
                    var search_string = $("#search_query").val();
                    $.ajax({
                        url: "/get_info",
                        data : {search:search_string},
                        success:function(response){
                            BootstrapDialog.show({
                              size: BootstrapDialog.SIZE_LARGE,
                              type: BootstrapDialog.TYPE_INFO,
                              title: "Search results",
                              message: function(dialog){
                                if (JSON.parse(response)['message'] == "Incorrect query!"){
                                  dialog.setType(BootstrapDialog.TYPE_DANGER);
                                }
                                return JSON.parse(response)['message'];
                              },
                              buttons: [{
                                    label: 'Okay',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                    }
                                }]
                            });
                        },
                        error:function(error){
                            console.log(error);
                        }
                    });
                });
            });
            $(function(){
              $("#search_query").focus(function(){
                $("#search_query").val('');
              });
            });
        </script>     
    </body>
</html>