<!DOCTYPE html>
<html>
    <head>
        <title>Disease-Chemical-Gene association</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css" />
    </head>
    <body style="background-color: #D2D2D2;">
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>