{% extends "base.html" %}
{% block body %}
    <div id="container_2">
        <h3>Select Disease, Chemical or Gene to query</h3>
    </div>
    <div id="container">
        <div id="container_1">
            <div>
                <div id="container_1_1">
                    <form action="#" method="POST">
                        <select name = "disease">
                            {% for i,d in diseases %}
                            <option value={{ i }}>{{ d }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Query selected disease!" name="disease_query">
                    </form>
                </div>
                <br><br><hr>
                <div id="container_1_1">
                    <form action="#" method="POST">
                        <select name = "chemical">
                            {% for j,c in chemicals %}
                            <option value={{ j }}>{{ c }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Query selected chemical!" name="chemical_query">
                    </form>
                </div>
                <br><br><hr>
                <div id="container_1_1">
                    <form action="#" method="POST">
                        <select name = "gene">
                            {% for k,g in genes %}
                            <option value={{ k }}>{{ g }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Query selected gene!" name="gene_query">
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
    {% if 'time' in session %}
    <div id="container">
        <div id="container_2">
            <h3>Search Results (Query time: {{ time }}seconds.)</h3>
            <div id="container_2_1">
                <h4>Five most closely associated diseases</h4>
                {% for m in disease_display %}
                <p>Disease Name: {{ m[1] }}<br>Disease ID: {{ m[0] }}<br>Score: {{ m[2] }}</p>
                {% endfor %}
            </div>
            <div id="container_2_2">
                <h4>Five most closely associated chemicals</h4>
                {% for m in chem_display %}
                <p>Chemical Name: {{ m[1] }}<br>Chemical ID: {{ m[0] }}<br>Score: {{ m[2] }}</p>
                {% endfor %}
            </div>
            <div id="container_2_3">
                <h4>Five most closely associated genes</h4>
                {% for m in gene_display %}
                <p>Gene ID: {{ m[0] }}<br>Score: {{ m[1] }}</p>
                {% endfor %}
                <p></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endwith %}
{% endblock %}